body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0.5em;
    background: linear-gradient(#086972,#87dfd6);
    grid-gap: 0.5em;
    grid-template-areas: 
    "head head head head head head"
    "icons icons icons icons icons icons"
    "K L M N O AC"
    "P Q R S T AD"
    "U V W X Y AE"
    "AF AG AH AI AJ AK"
    "footer footer footer footer footer footer";
}

.div-div {
    background-color: white;
    border: 1px solid black;
    padding: 0.5em;
}

.langauge-icons {
    border: none;
    width: 50%;
}

.language-icons img {
    border-left: 10%;
    flex: 1 0 auto;
}

#head {
    grid-area: head;
}

#footer {
    grid-area: footer;
}

#icons-area {
    grid-area: icons;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}
