body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
}

a {
    text-decoration:none;
}

.h1 {
    text-align: center;
    font-family: 'Courier Prime', monospace;
    color: whitesmoke;
}

.h2 {
    float: right;
    width: 40%;
    display: flex;
}

h2 {
    color: whitesmoke;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#2f2519,#4a3f35);
    grid-gap: 0.5em;
    grid-template-areas: 
    "head head head head head head"
    "icons icons icons icons icons icons"
    "K K K K K K"
    "K K K K K K"
    "B B C C Y Y"
    "B B C C Y Y"
    "footer footer footer footer footer footer";
}

span {
    color:#00AAE4;
}
.div-div {
    background-color: white;
    border: 1px solid black;
}

.langauge-icons {
    border: none;
    width: 50%;
}

.language-icons img {
    border-left: 10%;
    flex: 1 0 auto;
}

#head {
    grid-area: head;
    display: flex;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

#head i {
    color: white;
    font-size: 40px;
    margin: auto;
}

#head img {
    height: 60px;
    width: 60px;
    margin: 1% 1% 1% 1%;
}

#footer {
    grid-area: footer;
}

#icons-area {
    grid-area: icons;
    display: flex;
    align-items: center;
    font-family: 'Courier Prime', monospace;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(rgb(30, 16, 151),rgb(7, 248, 248));
}

#about-me {
    grid-area: K;
    background-color: rgb(44, 42, 42);
    line-height: normal;
    font-size: 1em;
    padding: 0;
    width: 99.8%;
}

#about-me div h3 {
    font-family: 'Courier Prime', monospace;
    color: rgb(4, 33, 56);
    font-size: 30px;
    margin-top: 0.5%;
}

.about-me-header {
    background-color: rgb(28, 90, 126);
    border: 1px solid  rgb(9, 77, 116);
    border-radius: 2em;
    height: 35px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#about-me div p {
    font-family: 'Courier Prime', monospace;
    color: rgb(5, 177, 168);
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

#about-me div {
    text-align: center;
}

#about-me p i {
    color: rgb(44, 42, 42);
    position: relative;
    animation-name: arrow-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: hidden;
}

#about-me div div img {
    width: 100px;
    height: 100px;
    border-radius: 1em;
    position: absolute;
}

.img1 {
    margin-top: 0;
    margin-left: 0;
}

.img1 {
    margin-top: 0;
    margin-right: 0;
}

.pp {
    margin-bottom: 1%;
}

#code-center {
    grid-area: B;
}

#proyects {
    grid-area: C;
}

#my-certifications {
    grid-area: Y;
}


@keyframes arrow-down {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}


/*Mobile version settings*/
@media only screen and (max-width: 815px) {
    #icons-area p {
        margin-left: 2%;
    }

    #head {
        flex-direction: column;
    }
    
    .container {
        height: 100%;
    }

    #code-center {
        height: 80%;
    }

    #about-me {
        flex-direction: column;
        background-image: url(https://images.unsplash.com/photo-1591375779766-bf562a2a19c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.7;
        background-position: left;
        padding: 0;
    }

    #proyects {
        height: 80%;
    }

    #my-certifications {
        height: 80%;
    }

    #footer {
        margin-top: -24%;
    }
}
