body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 4px dashed white;
    background-color: black;
    overflow-x: none;
}

#h1 {
    color: red;
    margin-top: 80px;
}
header {
    margin: 0;
    padding: 0;
    display: flex;
}

#nav-bar {
    width: 100%;
    background-color: black;
    height: 80px;
    position: fixed;
    margin: 0;
    padding: 0;
    float: center;
}

#nav-list {
    color: white;
    font-weight: bold;
    display: flex;
    list-style: none;
}
