body {
    background-color: #f4f4f4;
    height: 100%;
}

.center {
    text-align: center;
}

#back-element {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: -3%;
    margin-left: 0;
    font-weight: bold;
}

#back-element a {
    margin-top: 3%;
    margin-left: 3%;
}

#back-element a:hover {
    cursor: pointer;
    color: green;
}

main {
    margin: 0;
}

h1 {
    margin-top: 3%;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.header-link{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.header-link:hover {
    color: rgb(7, 155, 214);
}

h3 {
    margin-left: 4%;
}

#code {
    text-align: center;
}

code {
    background-color: black;
    color: green;
}

section {
    line-height: normal;
}

textarea {
    background-color: black;
    color: green;
    font-weight: bold;
}

main article section {
    margin-left: 10%;
}

footer {
    margin-top: 2em;
    display: flex;
    height: 50px;
    color: black;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
}

footer i {
    color: #393e46;
    font-size: 35px;
}

footer i:hover {
    color: #127681;
}

.footer-img {
    height: 35px;
    width: 35px;
}

main i {
    margin-left: 4%;
    font-size: 40px;
}

@media only screen and (max-width: 815px) {
    footer {
        flex-wrap: wrap;
        justify-content: space-evenly;
        border: none;
        height: 100px;
        background-color: indianred;
    }

    footer a {
        margin-left: 3%;
    }

    main {
        overflow-x: none;
    }

    #back-element {
        width: 100%;
        margin-top: -20%;
        position: absolute;
    }

    h1 {
        margin-top: 20%;
    }
}