body {
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
}

h3 {
    margin-left: 10%;
}

code {
    border: 1px solid grey;
    background-color: black;
    color: green;
}
section {
    line-height: normal;
}

textarea {
    text-align: left;
    margin: auto;
    background-color: black;
    color: green;
}
